# {{ ansible_managed }}

listen = ":{{ remirror__listen_port }}"
data = "{{ remirror__home }}"

mirrors {
{% for mirror in remirror__mirrors %}
    mirror {
        prefix = "{{ mirror.prefix }}"
        upstream = "{{ mirror.upstream }}"
    }
{% endfor %}
}
