# {{ ansible_managed }}

# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
# Copyright (C) 2020 DebOps <http://debops.org/>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=remirror caching proxy
After=network.target

[Service]
User={{ remirror__user }}
Group={{ remirror__group }}
ExecStart=/usr/local/bin/remirror

[Install]
WantedBy=multi-user.target
